* {
    margin: 0;
    box-sizing: content-box;
    font-size: 12px;
}

header{
    background-color: #4EA0FF;
    background-image: url('../img/pattern.png');
    background-size: 250px 150px;
    background-attachment: fixed;
}

header img {
    width: 150px;
    height: 60px;
    padding: 10px 10px;
}

main {
    padding: 10px;
}

h1{
    font-size: 30px;
}

.greyText{
    color: grey;
}

.author {
    color: #2bc5fd;
}

.imagesContainer{
    margin-top: 15px;
}

.marginTop{
    margin-top: 15px;
}

table {
    border-collapse: collapse;
}

tr th {
   min-width: 200px;
   text-align: left;
   background-color: #20A9E5;
   color: white;
}

tbody tr:first-child, tbody tr:last-child {
    background-color: #B1E5F2;
}