* {
    margin: 0;
    box-sizing: content-box;
    font-size: 12px;
}

header{
    background-color: #4EA0FF;
    background-image: url('../img/pattern.png');
    background-size: 250px 150px;
}

header img {
    width: 150px;
    height: 60px;
    padding: 10px 10px;
}

.articleImages{
    text-align: center;
}


main {
    padding: 10px;
    max-width: 70vw;
    margin: 0 auto;
}

h1{
    font-size: 30px;
}

.greyText{
    color: grey;
}

.author {
    color: #2bc5fd;
}


.marginTop{
    margin-top: 15px;
}

.highlighted{
    background-color: #FFFF00;
}

table {
    border-collapse: collapse;
}

tr th {
   min-width: 200px;
   text-align: left;
   background-color: #20A9E5;
   color: white;
}

tbody tr:first-child, tbody tr:last-child {
    background-color: #B1E5F2;
}

footer {
 font-weight: 800;
}

.footerImagesText{
    color: white;
    padding: 5px;
}

.imageContainer{
    height: 100px;
    width: 150px;
    background-size: contain;
}

.footerImage1{
    background-image: url('../img/monitor.jpg');
}

.footerImage2{
    background-image: url('../img/graph.jpg');
}